html {
  font-size: 62.5%;
  background-color: #69db7c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans SC", sans-serif;
}

body {
  position: relative;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.instructions-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  background-color: #e64980;
}
.solo-quando {
  color: #e64980;
}

.instructions-image {
  width: 20rem;
}

.close-instructions {
  width: 4rem;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  background-color: #e64980;
  cursor: pointer;
}

.hands-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.cpu-hand,
.player-hand {
  background-color: #ffc078;
  max-width: 150rem;
  height: 27rem;
  margin: 5rem auto 2rem auto;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  overflow: auto;
}

form {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}

.buttons {
  display: flex;
  gap: 2rem;
}

.player-hand {
  height: 54rem;
}

.player-card {
  height: 27rem;
}

.player-hand {
  margin-bottom: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid #fa5252;
  align-items: center;
}

img {
  width: 80%rem;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #1864ab86;
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal-1 {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.close-modal-doubles {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.win {
  background-color: #228be6;
  text-align: center;
}

.lose {
  background-color: #63e6be;
  text-align: center;
}

.other-game-win {
  height: 2.6rem;
  width: 74%;
  border-radius: 10px;
  border: none;
  background-color: #ffe066;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}

.other-game-lose {
  height: 20%;
  width: 74%;
  border-radius: 10px;
  border: none;
  background-color: #a9e34b;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}
